@import url(../fonts/stylesheet.css);
/*************************
	All The Base Styles
*************************/
/* Reset ****************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

button {
  border: 0; }

/* Base *****************/
body {
  font-family: "open_sans"; }

/*************************
	All The Layout Styles
*************************/
/* Container ************/
/* Responsive ***********/
/* Tools ****************/
/*************************
	All The Modules Styles
*************************/
/* Content **************/
/* Header ***************/
/* Footer ***************/
/* Icons ****************/
/*************************
	All The States Styles
*************************/
/*************************
 All The Utilities Styles
*************************/
