@import url(../fonts/stylesheet.css);
/*************************
	All The Base Styles
*************************/
/* Reset ****************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

button {
  border: 0; }

a {
  text-decoration: none; }

ul, ol, menu {
  list-style: none; }

/* Base *****************/
body {
  font-family: "open_sans"; }

/*************************
	All The Layout Styles
*************************/
/* Container ************/
.project-header {
  width: 100%;
  background: url("../images/background_header.jpg") no-repeat;
  min-height: 301px;
  color: white;
  background-size: cover; }
  .project-header .project-header__wrapper {
    position: relative;
    width: 890px;
    margin: 0 auto;
    border: 1px solid black; }

.project-content {
  width: 100%;
  background-color: rgba(90, 104, 114, 0.08); }
  .project-content .project-content__wrapper {
    width: 890px;
    margin: 0 auto;
    border: 1px solid black; }

/* Responsive ***********/
/* Tools ****************/
/*************************
	All The Modules Styles
*************************/
/* Content **************/
.project-header__content {
  margin-top: 40px; }

.project-header__tittle {
  color: white; }

.elem-form {
  display: inline-block;
  margin-top: 30px; }

.choose-city {
  width: 200px;
  height: 30px;
  background-color: white; }

.project-content__accommodation-metro {
  min-height: 295px;
  background-color: white;
  margin-top: 30px;
  display: flex; }

.choose-accommodation {
  width: 320px;
  margin: 50px 0 0 40px; }

.type-accommodation {
  margin-top: 20px; }

.type-accommodation__item {
  padding: 0 5px 0 5px;
  height: 30px;
  display: inline-block;
  margin-right: 30px;
  vertical-align: middle; }

.type-accommodation__item-text {
  color: black; }

.metro-img {
  max-width: 411px;
  max-height: 212px;
  margin: 40px 0 0 70px; }

.project-content__best-proposition {
  position: relative;
  min-height: 384px;
  background-color: white;
  margin-top: 30px; }

.best-proposition__block {
  margin: 20px 0 0 20px; }

.propositions {
  display: inline-block;
  margin-right: 8px; }

.proposition-photo {
  max-width: 202px;
  max-height: 135px; }

.price {
  position: relative;
  width: 150px;
  margin-top: 20px; }

.price-text {
  display: inline-block; }

.icon-check {
  display: inline-block;
  position: absolute;
  right: 25px;
  top: 2px;
  width: 18px;
  height: 18px;
  background: url("../images/sprite.png") no-repeat -92px -10px; }

.flat-description {
  margin-top: 5px;
  color: #8C9BA5;
  font-size: 14px; }

.flat-location {
  margin-top: 10px;
  font-size: 14px; }

.red-circle {
  display: inline-block;
  color: #E71D32; }

.blue-circle {
  display: inline-block;
  color: #2573D8; }

.metro-location {
  display: inline-block;
  margin-left: 10px; }

.project-content__last-adverb {
  position: relative;
  min-height: 444px;
  background-color: white;
  margin-top: 30px; }

/* Header ***************/
.project-header__header {
  display: flex; }

.project-header__menu {
  padding-top: 25px;
  margin-left: 40px; }

.header-logo {
  padding-top: 20px; }

.header-menu-item {
  padding: 0 5px 0 5px;
  height: 30px;
  display: inline-block;
  margin-right: 40px;
  vertical-align: middle; }

.header-menu-item-text {
  color: white; }

.project-header__botton-menu {
  margin: 20px 0 0 60px; }

.button {
  color: white;
  display: inline-block;
  height: 35px;
  padding: 5px; }

.advert {
  width: 230px;
  text-align: center;
  position: relative; }

.advert-text {
  display: inline-block; }

.icon-plus {
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 9px;
  width: 18px;
  height: 18px;
  background: url("../images/sprite.png") no-repeat -202px -10px; }

.enter {
  width: 70px;
  margin-left: -4px;
  text-align: center; }

.best-proposition__header {
  width: 100%;
  text-align: center;
  padding-top: 20px; }

.last-adverb__header {
  width: 100%;
  padding-top: 30px;
  text-align: center; }

/* Footer ***************/
.best-proposition__footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 40px;
  padding-top: 7px;
  text-align: center;
  border-top: 1px solid #d8d8d8; }

.watch-best-prop-button {
  color: black;
  font-size: 18px; }

/* Icons ****************/
/*************************
	All The States Styles
*************************/
.header-menu-item:hover {
  border-bottom: 2px solid white; }

.button:hover {
  background-color: #6FCF97; }

.type-accommodation__item:hover {
  border-bottom: 2px solid #27AE60; }

.best-proposition__footer:hover {
  background-color: #6FCF97; }

.propositions:hover {
  border-bottom: 2px solid #27AE60; }

/*************************
 All The Utilities Styles
*************************/
