@import url(../fonts/stylesheet.css);
/*************************
	All The Base Styles
*************************/
/* Reset ****************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

input, button, textarea, select, option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

button {
  border: 0; }

a {
  text-decoration: none; }

ul, ol, menu {
  list-style: none; }

/* Base *****************/
body {
  font-family: "open_sans";
  font-weight: 400px;
  font-style: normal; }

.menu-accommodation, .telegram-header .telegram-header__menu {
  padding-top: 20px; }
  .menu-accommodation .menu-accommodation__item, .telegram-header .telegram-header__menu .menu-accommodation__item, .telegram-header .telegram-header__menu .telegram-header__menu-item {
    padding: 0 5px 0 5px;
    height: 30px;
    display: inline-block;
    margin-right: 30px;
    vertical-align: middle; }
    .menu-accommodation .menu-accommodation__item .menu-accommodation__item-text, .telegram-header .telegram-header__menu .menu-accommodation__item .menu-accommodation__item-text, .telegram-header .telegram-header__menu .telegram-header__menu-item .menu-accommodation__item-text, .telegram-header .telegram-header__menu .telegram-header__menu-item .telegram-header__menu-item__text {
      color: black; }

.button {
  color: white;
  display: inline-block;
  height: 35px;
  padding: 5px; }

.watch-prop-button {
  color: black;
  font-size: 18px; }

/*************************
	All The Layout Styles
*************************/
/* Container ************/
.project-header {
  width: 100%;
  background: url("../images/background_header.jpg") no-repeat;
  min-height: 301px;
  color: white;
  background-size: cover; }
  .project-header .project-header__wrapper {
    position: relative;
    width: 890px;
    margin: 0 auto;
    border: 1px solid black; }

.project-content {
  width: 100%;
  background-color: rgba(90, 104, 114, 0.08); }
  .project-content .project-content__wrapper {
    width: 890px;
    margin: 0 auto;
    border: 1px solid black; }

.project-content__accommodation-metro {
  min-height: 295px;
  background-color: white;
  margin-top: 30px;
  padding: 50px 0 0 40px;
  display: flex; }

.project-content__best-proposition {
  position: relative;
  min-height: 384px;
  background-color: white;
  margin-top: 30px; }

.project-content__last-advert {
  position: relative;
  min-height: 444px;
  background-color: white;
  margin-top: 30px; }

.project-content__telegram {
  min-height: 800px;
  margin-top: 30px; }

/* Responsive ***********/
/* Tools ****************/
/*************************
	All The Modules Styles
*************************/
/* Content **************/
.project-header__content {
  margin-top: 40px; }

.project-header__tittle {
  color: white; }

.project-header__form {
  display: flex;
  margin-top: 40px; }

.check-room {
  width: 46px;
  height: 46px;
  display: inline-flex;
  position: relative;
  margin: 2px; }

input[type="checkbox"] + span {
  position: absolute;
  left: -7px;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: url("../images/checkbox/sprite_checkbox.png") no-repeat; }
  input[type="checkbox"] + span.check-room__1 {
    background-position: -395px -15px; }
  input[type="checkbox"] + span.check-room__2 {
    background-position: -467px -15px; }
  input[type="checkbox"] + span.check-room__3 {
    background-position: -539px -15px; }
  input[type="checkbox"] + span.check-room__4 {
    background-position: -611px -15px; }
  input[type="checkbox"] + span.check-room__5 {
    background-position: -683px -15px; }

input[type="checkbox"] {
  display: none; }

input[type="checkbox"]:checked + span.check-room__1 {
  background-position: -15px -15px; }

input[type="checkbox"]:checked + span.check-room__2 {
  background-position: -91px -15px; }

input[type="checkbox"]:checked + span.check-room__3 {
  background-position: -167px -15px; }

input[type="checkbox"]:checked + span.check-room__4 {
  background-position: -243px -15px; }

input[type="checkbox"]:checked + span.check-room__5 {
  background-position: -319px -15px; }

.choose-room {
  display: inline-block;
  position: relative;
  margin-left: 25px; }

.choose_city {
  background: white;
  width: 300px;
  padding: 10px 0 10px 20px;
  border-radius: 3px;
  font-size: 15px; }
  .choose_city option {
    background: white; }

.button-go-to-search {
  background: white;
  width: 200px;
  height: 35px;
  color: #30ae63;
  margin-top: 25px; }

.content-choose-accommodation {
  max-width: 300px;
  border: 1px solid black; }

.metro-img {
  max-width: 411px;
  max-height: 212px;
  margin-left: 80px; }

.best-proposition__content {
  margin: 20px 0 0 20px; }

.propositions {
  display: inline-block;
  margin-right: 8px; }

.proposition-photo {
  max-width: 202px;
  max-height: 135px; }

.price {
  position: relative;
  width: 150px;
  margin-top: 20px; }

.price-text {
  display: inline-block; }

.flat-description {
  margin-top: 5px;
  color: #8C9BA5;
  font-size: 14px; }

.flat-location {
  margin-top: 10px;
  font-size: 14px; }

.red-circle {
  display: inline-block;
  color: #E71D32; }

.blue-circle {
  display: inline-block;
  color: #2573D8; }

.metro-location {
  display: inline-block;
  margin-left: 10px; }

.telegram-content {
  width: 100%;
  margin: 0 0 0 80px;
  padding: 30px 0 0 30px;
  display: flex; }
  .telegram-content .phone-img {
    max-width: 282px;
    max-height: 573px;
    display: inline-block; }
  .telegram-content .telegram-info {
    display: inline-block;
    width: 400px;
    height: 440px;
    margin: 60px 0 0 95px;
    background-color: white; }
    .telegram-content .telegram-info .telegram-info_header {
      position: relative;
      width: 200px;
      height: 70px;
      margin: 40px 0 0 30px; }
      .telegram-content .telegram-info .telegram-info_header .telegram-info_header_title {
        display: inline-block;
        vertical-align: middle;
        font-size: 22px;
        padding-bottom: 50px; }
    .telegram-content .telegram-info .telegram-info_content {
      width: 320px;
      margin: 0 auto;
      padding-top: 30px; }
      .telegram-content .telegram-info .telegram-info_content .telegram-info_content_title {
        font-size: 22px; }
      .telegram-content .telegram-info .telegram-info_content .telegram-info_content_text {
        padding-top: 15px; }
        .telegram-content .telegram-info .telegram-info_content .telegram-info_content_text .telegram-info_content_text_p {
          margin-top: 10px; }
      .telegram-content .telegram-info .telegram-info_content .subscribe-telegram-button {
        margin-top: 30px;
        color: white;
        text-align: center;
        width: 100%;
        height: 40px;
        background-color: #30AE63;
        padding: 10px 0 0 10px;
        border-radius: 3px; }

/* Header ***************/
.project-header__header {
  display: flex; }
  .project-header__header .project-header__menu {
    padding-top: 25px;
    margin-left: 40px; }
    .project-header__header .project-header__menu .project-header__menu-item {
      padding: 0 5px 0 5px;
      height: 30px;
      display: inline-block;
      margin-right: 40px;
      vertical-align: middle; }
      .project-header__header .project-header__menu .project-header__menu-item .project-header__menu-item__text {
        color: white; }
  .project-header__header .project-header__botton-menu {
    margin: 20px 0 0 60px; }
    .project-header__header .project-header__botton-menu .place-advert-button {
      width: 230px;
      text-align: center;
      position: relative; }
      .project-header__header .project-header__botton-menu .place-advert-button .place-advert-button__text {
        display: inline-block; }
      .project-header__header .project-header__botton-menu .place-advert-button .enter-site-button {
        width: 70px;
        margin-left: -4px;
        text-align: center; }

.best-proposition__header {
  width: 100%;
  text-align: center;
  padding-top: 20px; }

.last-advert__header {
  width: 100%;
  padding-top: 30px;
  text-align: center; }

.telegram-header {
  width: 100%;
  padding-top: 30px;
  margin: 0 auto;
  text-align: center; }
  .telegram-header .telegram-header_text {
    padding-top: 20px;
    max-width: 500px;
    margin: 0 auto; }
  .telegram-header .telegram-header__menu {
    padding-left: 40px; }

/* Footer ***************/
.proposition__footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 40px;
  padding-top: 7px;
  text-align: center;
  border-top: 1px solid #d8d8d8; }

/* Icons ****************/
.header-logo {
  padding-top: 20px; }

.icon-plus {
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 9px;
  width: 18px;
  height: 18px;
  background: url("../images/sprite.png") no-repeat -202px -10px; }

.icon-check {
  display: inline-block;
  position: absolute;
  right: 25px;
  top: 2px;
  width: 18px;
  height: 18px;
  background: url("../images/sprite.png") no-repeat -92px -10px; }

.icon-telegram {
  display: inline-block;
  top: 20px;
  width: 62px;
  height: 62px;
  margin-right: 20px;
  background: url("../images/sprite.png") no-repeat -10px -10px; }

/*************************
	All The States Styles
*************************/
.project-header__menu-item:hover {
  border-bottom: 2px solid white; }

.button:hover {
  background-color: #6FCF97; }

.menu-accommodation__item:hover, .telegram-header .telegram-header__menu .telegram-header__menu-item:hover {
  border-bottom: 2px solid #27AE60; }

.proposition__footer:hover {
  background-color: #6FCF97; }

.propositions:hover {
  border-bottom: 2px solid #27AE60; }

/*************************
 All The Utilities Styles
*************************/
