/*************************
	All The States Styles
*************************/


.project-header__menu-item:hover{
	border-bottom: 2px solid white;
}

.menu-accommodation__item:checked + span{
	border-bottom: 2px solid $color-checked;
}

.button:hover{
	background-color: $button-color-hover;
}
	
.button:active{
	background-color: darken($button-color-green,7%);
}

.button:disabled{
	background-color: lighten($button-color-green,40%);
}

.propositions:hover, .metrovka-slider__element:hover{
	border: 2px solid $button-color-green;
}

.footer-column__text:hover{
		color:$button-color-hover;
}