/*************************
	All The States Styles
*************************/


.project-header__menu-item:hover{
	border-bottom: 2px solid white;
}

.button:hover{
	background-color: #6FCF97;
}

.menu-accommodation__item:hover{
	border-bottom: 2px solid #27AE60;
}

.metrovka-footer:hover{
	@include footer-with-button-hover;
}

.last-advert__footer:hover{
	@include footer-with-button-hover;
}

.best-proposition__footer:hover{
	@include footer-with-button-hover;
}

.propositions:hover{
	border-bottom: 2px solid #27AE60;
}