/*************************
	All The States Styles
*************************/


.header-menu-item:hover{
	border-bottom: 2px solid white;
}

.button:hover{
	background-color: #6FCF97;
}

.type-accommodation__item:hover{
	border-bottom: 2px solid #27AE60;
}

.best-proposition__footer:hover{
	background-color: #6FCF97;
}

.propositions:hover{
	border-bottom: 2px solid #27AE60;
}