//-------------------------//
//--All Vars----------//
//-------------------------//

$background-color-gray:rgba(90, 104, 114, 0.08);
$button-color-green:#30ae63;
$button-color-hover:#50DB88;

$color-checked:#30ae63;

$color-red-circle:#E71D32;
$color-blue-circle:#2573D8;
$color-green-circle:#30AD64;

$color-border-form:#f2f2f2;

$metrovka-color-theme1:#BA8FF7;
$color-blue:#2573D8; 
$metrovka-color-theme3:#30AE63;
$color-text-gray:#8C9BA5;

$border-color:#D8D8D8;
