//-------------------------//
//--Base Styles-------_----//
//-------------------------//

@import "../../fonts/stylesheet.css";

body{
	font-family: 'open_sans';
  	font-weight: 300;
    font-style: normal;
}


//****************************************
// STYLES FOR MENU WITH TYPE ACCOMMODATION

.menu-accommodation{
	padding-top: 20px;

	.menu-accommodation__item{
		padding: 0 5px 0 5px;
		height: 30px;
		display: inline-block;
		margin-right: 30px;
		vertical-align: middle;

		.menu-accommodation__item-text{
			color: black;
		}
	}
}
