//-------------------------//
//--Base Styles------------//
//-------------------------//


@import "../../fonts/styles.css";

body{
	font-family: 'open_sans', sans-serif;
  	font-weight: normal;
    font-style: normal;
}

a{
	text-decoration: none;
	display: inline-block;
}


//****************************************
// STYLES FOR MENU WITH TYPE ACCOMMODATION

.menu-accommodation{
	padding-top: 20px;

	.menu-accommodation__item{
		padding: 0 5px 0 5px;
		height: 30px;
		display: inline-block;
		margin-right: 30px;
		vertical-align: middle;

		.menu-accommodation__item-text{
			color: black;
		}
	}
}
