//-------------------------//
//--Reset Styles-----------//
//-------------------------//

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input, button, textarea, select, option{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}

button{
	border: 0;
}

a{
	text-decoration: none;
}

ul, ol, menu{
	list-style: none;
}
