//-------------------------//
//--Footer ----------------//
//-------------------------//



//****************************************************
 // STYLES FOR FOOTER OF BLOCK WITH BEST PROPOSITIONS
 // STYLES FOR FOOTER OF BLOCK WITH LAST ADVERB
.proposition__footer{
	position: absolute;
	bottom: 0px;
	width:100%;
	height:40px;
	padding-top:7px;
	text-align: center;
	border-top: 1px solid #d8d8d8;
}
//****************************************************



