//-------------------------//
//--Footer ----------------//
//-------------------------//

.best-proposition__footer{
	position: absolute;
	bottom: 0px;
	// margin-top: 20px;
	width:100%;
	height:40px;
	padding-top:7px;
	text-align: center;
	border-top: 1px solid #d8d8d8;

}

.watch-best-prop-button{
	color:black;
	font-size: 18px;
}