//-------------------------//
//--Header ----------------//
//-------------------------//


//******************************************************
 // STYLES FOR HEADER OF PROJECT HEADER
.project-header__header{
	display: flex;

	.project-header__menu{
	padding-top: 25px;
	margin-left:40px;

		.project-header__menu-item{
			padding: 0 5px 0 5px;
			height: 30px;
			display: inline-block;
			margin-right: 40px;
			vertical-align: middle;

			.project-header__menu-item__text{
				color:white;
			}
		}
	}

	.project-header__botton-menu{
		margin: 20px 0 0 60px;

		.place-advert-button{
			width: 230px;
			text-align: center;
			position:relative;

			.place-advert-button__text{
				display:inline-block;
			}

		.enter-site-button{
			width: 70px;
			margin-left: -4px;
			text-align: center;
			}
		}
	}
}

//******************************************************


//******************************************************
 // STYLES FOR HEADER OF BLOCK WITH BEST PROPOSITIONS

.best-proposition__header{
	width: 100%;
	text-align: center;
	padding-top: 20px;
}

//*****************************************************


//******************************************************
 // STYLES FOR HEADER OF BLOCK WITH LAST ADVERT
.last-advert__header{
	width:100%;
	padding-top: 30px;	
	text-align: center;
}
//******************************************************


//******************************************************
 // STYLES FOR HEADER OF BLOCK WITH TELEGRAM
.telegram-header{
	width:100%;
	padding-top: 30px;
	margin: 0 auto;
	text-align: center;
}

.telegram-header__text{
	padding-top: 20px;
	max-width: 500px;
	margin: 0 auto;
}

.telegram-header__menu{
	@extend .menu-accommodation;
	padding-left: 40px;
}

.telegram-header__menu-item{
	@extend .menu-accommodation__item;
}

.telegram-header__menu-item__text{
	@extend .menu-accommodation__item-text;
}
			
 //*****************************************************


//******************************************************
 // STYLES FOR HEADER OF BLOCK WITH BLOG METROVKA

 .metrovka-header{
 	width:100%;
	padding-top: 20px;
	margin: 0 auto;
	text-align: center;
}
.metrovka-header__text{
	@extend .telegram-header__text;
}


 //*****************************************************