//-------------------------//
//--Icons Module-----------//
//-------------------------//


.header-logo{
	padding-top: 20px;
}

.icon-plus{
	display:inline-block;
	position:absolute;
	left: 10px;
	top:12px;
	width: 18px;
	height: 18px;
	background: url("../images/sprite.png") no-repeat -25px -672px;
}

.icon-check{
	display:inline-block;
	position:absolute;
	right: 25px;
	top: 2px;
	width: 18px;
	height: 18px;
	background: url("../images/sprite.png") no-repeat -25px -80px;
}

.icon-telegram{
	display:inline-block;
	top:20px;
	width: 62px;
	height: 62px;
	margin-right: 20px;
	background: url("../images/sprite.png") no-repeat -25px -432px;
}